<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liga.medical.personservice.core.repository.PersonDataRepository">

    <resultMap id="personDataEntity" type="liga.medical.personservice.core.model.PersonDataEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findByListId" resultMap="personDataEntity">
        <bind name="" value=""/>
        SELECT id, last_name, first_name, birth_dt, age, sex, contact_id, medical_card_id
        FROM person_data
        <choose>
            <otherwise>
                WHERE id IN
                <foreach collection='personDataListId' item='id' open='(' separator=',' close=')'>
                    #{id, jdbcType=BIGINT}
                </foreach>
            </otherwise>
        </choose>
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO person_data(last_name, first_name, birth_dt, age, sex, contact_id, medical_card_id, parent_id)
        VALUES
        <foreach collection="personDataList" item="personData" separator=",">
            (#{personData.lastName}, #{personData.firstName},
            #{personData.birthDt},
            #{personData.age}, #{personData.sex},
            #{personData.contactId},
            #{personData.medicalCardId}, #{personData.parentId})
        </foreach>
    </insert>

    <update id="updateById" parameterType="liga.medical.personservice.core.model.PersonDataEntity">
        UPDATE person_data SET
        <if test="lastName != null">
            last_name = #{lastName}
        </if>
        <if test="firstName != null">
            first_name = #{firstName},
        </if>
        <if test="birthDt != null">
            birth_dt = #{birthDt},
        </if>
        <if test="age != null">
            age = #{age},
        </if>
        <if test="sex != null">
            sex = #{sex}
        </if>
        <if test="contactId != null">
            contact_id = #{contactId}
        </if>
        <if test="medicalCardId != null">
            medical_card_id = #{medicalCardId}
        </if>
        <if test="parentId != null">
            parent_id = #{parentId}
        </if>
        WHERE id = #{id};
    </update>

    <delete id="deleteById">
        DELETE
        FROM person_data
        WHERE id = #{personDataId, jdbcType=BIGINT};
    </delete>
</mapper>